.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-column {
    display: flex;
    justify-content: center;
}

.add-card-button {
    margin-right: 20px !important;
}

.no-cards_available {
    display: flex;
    justify-content: center;
    font-size: 24pt;
    margin-top: 5%;
}

.statement-container {
    margin: 2% auto;
    max-width: 75%;
}

.statement-heading {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.statement-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
    border:1px solid #DDDDDD;
    padding-top: 16px;
    padding-bottom: 16px;
}

.style-debit{
    color: red;
}

.style-credit{
    color: green;
}